<%- include("../partials/_sidebar") %>

  <div class="col-9">
    <br>
    <h2 class="text-center"> Overview <small class="text-muted">#<%= result.projectid %> <%= result.name %></small> </h2>
    <br>

    <div class="card">
      <div class="card-body">
        Issue tracking
        <ul>
          <li>Bug: 0 open / 0</li>
          <li>Feature: 2 open / 6</li>
          <li>Support: 1 open / 1</li>
        </ul>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        Members
        <ul>
          <li>Fenti Rahmawati</li>
          <li>Piscki Pratama</li>
        </ul>
      </div>
    </div>

  </div>
</div>


<%- include("../partials/_footer") %>