<%- include("../partials/_sidebar") %>
<div class="col-9">
  <br>

  <h2 class="text-center"> Activity <small class="text-muted">#<%= result.projectid %> <%= result.name %></small></h2>
  <hr>
  <div class="card">
    <div class="card-body">

      <div class="card">
        <h5 class="card-header">Today</h5>
        <div class="card-body">
          <span class="badge badge-primary">15:40 WIB</span>
          <h4 class="card-title">[Support] Hapus akun Trial</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <br>

      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>

</div>
</div>

<%- include("../partials/_footer") %>