<%- include("../partials/_sidebar") %>
<div class="col-9">
  <br>

  <h2 class="text-center"> Issues <small class="text-muted">#<%= result.projectid %> <%= result.name %></small></h2>
  <hr>

</div>
</div>

<%- include("../partials/_footer") %>